@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
   font-family: MinhaFonte;
   src: url('../img/font/Mada-Font/Mada-Medium.ttf') format('truetype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: MinhaFonte, sans-serif;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
   font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";
}

header {
   z-index: 90;
   position: fixed;
   display: flex;
   justify-content: space-between;
   padding: 0 10% 0 10%;
   align-items: center;
   height: 90px;
   width: 100%;
   transition: all ease-in-out .2s;
}

header img {
   cursor: pointer;
   transition: all ease-in-out .2s;
}

header img:hover {
   transform: scale(1.05);
}

.navLista {
   display: flex;
   justify-content: space-between;
}

.navLista li {
   border-radius: 10px 10px 0 0;
   transition: all ease-in-out .2s;
   position: relative;
   list-style: none;
   padding: 10px;
   margin-right: 35px;
}

.navLista li:last-child {
   margin-right: 0;
}

.navLista .linkNav a {
   font-weight: 900;
   text-decoration: none;
   font-size: 20px;
   color: white;
}

.getApp {
   font-weight: 900;
   list-style: none;
   text-decoration: none;
   font-size: 20px;
   padding: 10px 20px;
   background-color: white;
   color: #00A106;
   border-radius: 15px;
   box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.mobile {
   background: none;
   display: none;
   border: none;
}

.mobile img {
   width: 50px;
}

.dropDown {
   transition: all ease-in-out .2s;
   display: none;
   z-index: 100;
   background: #008604;
   text-align: center;
   position: absolute;
   width: 200px;
   border-radius: 0 10px 10px;
   margin-top: 8px;
   margin-left: -10px;
   box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.sobre:hover {
   background: #008604;
   cursor: pointer;
   box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);

   .dropDown {
      transition: all ease-in-out .2s;
      display: block;
   }
}

.dropLink {
   float: left;
   padding: 5px 0;
}

#topoHeader {
   width: 100%;
   height: 80vh;
   background-image: url(/img/fundos.svg);
   background-repeat: no-repeat;
   background-size: cover;
}

.fundoHeader {
   background: var(--linear-padro, linear-gradient(107deg, #44FF4B 0%, #008205 92.04%));
   box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.fundoBaixo {
   width: 100%;
   z-index: 10;
   height: 25px;
   background-image: url(/img/fundobaixo.svg);
   background-repeat: no-repeat;
   background-size: cover;
}

#topo {
   margin: auto;
   display: flex;
   position: relative;
   width: 80%;
   height: 80vh;
}

#topo .esquerda {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
   width: 60%;
}

#topo .direita {
   width: 40%;
}

.h1Topo {
   color: white;
   font-size: 60px;
   width: 70%;
   margin-left: 8%;
   margin-top: 25%;
}

.btnGetApp {
   display: flex;
   background: white;
   align-items: center;
   margin-left: 8%;
   margin-top: 20px;
   padding: 8px 15px;
   border-radius: 15px;
   box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
   transition: all ease-in-out .2s;
}

.btnGetApp:hover {
   transform: scale(1.05);
}

.btnGetApp a {
   text-decoration: none;
   font-weight: bold;
   font-size: 25px;
   margin-left: 5px;
   color: #31DB37;
}

#topo {
   position: relative;
}

.celularesTopo {
   position: absolute;
   width: 30vw;
   z-index: 0;
   bottom: 0px;
}

/*FUNCIONALIDADES*/

#funcionalidades {
   margin: auto;
   margin-top: 150px;
   display: flex;
   position: relative;
   width: 80%;
   height: 70vh;
}

#funcionalidades .esquerda {
   display: flex;
   align-items: center;
   position: relative;
   width: 50%;
}

#funcionalidades .esquerda img {
   position: absolute;
   margin-left: 40px;
   bottom: 0px;
   z-index: 10;
}

#funcionalidades .direita {
   display: flex;
   width: 50%;
   align-items: center;
}

#funcionalidades .h1Func {
   font-size: 64px;
   color: #31DB37;
   text-align: center;
}

/*ICONES*/

#icones {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 40vh;
   box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
   margin-bottom: 30px;
   z-index: 11;
}

#icones .elemento {
   display: flex;
   align-items: center;
}

#icones .elemento h1 {
   margin-left: 20px;
   width: 200px;
   color: #717171;
   font-size: clamp(1em, 1em + 1vw, 1.5em);;
}

/*DEV*/

#dev {
   height: 50vh;
   display: flex;
   width: 80%;
   margin: auto;
   align-items: center;
   justify-content: center;
}

#dev h1 {
   color: #31DB37;
   text-align: center;
   font-size: clamp(2.5em, 2.5em + 1vw, 3.5em);
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

#dev h2 {
   color: #717171;
   text-align: center;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

#dev .icones {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

#dev .icones img {
   transition: all ease-in-out .2s;
   cursor: pointer;
}

#dev .icones img:hover {
   transform: scale(1.05);
}

#dev .icones img:first-child {
   margin-right: 40px;
}

footer {
   background: var(--linear-padro, linear-gradient(107deg, #44FF4B 0%, #008205 92.04%));
   height: 220px;
   width: 100%;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

footer .textos h1 {
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   margin-bottom: 10px;
}

footer .textos h2 {
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
}

footer .links li {
   margin-top: 10px;
   list-style: none;
}

footer .links li a {
   display: flex;
   align-items: center;
   font-size: 20px;
   text-decoration: none;
   color: white;
}

::-webkit-scrollbar {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #00A106;
   cursor: pointer;
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: #31DB37;
   border-radius: 5px;
}

/*-------------------------- RESPONSIVIDADE ------------------------*/

@media screen and (max-width: 600px) {
   body {
      margin: 0;
   }

   main {
      width: 100%;
   }

   #topoHeader {
      height: 70vh;
   }

   header {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-around;
   }

   .nav {
      display: none;
      transition: all ease-in-out .2s;
   }

   .logoMenu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
   }

   .navLista {
      align-items: center;
      justify-content: center;
      margin: 0;
      position: absolute;
      top: 90px;
      padding: 10px;
      left: 0;
      width: 100%;
      background: #008205;
   }

   .linkNav {
      margin: 0;
   }

   header .logo {
      margin: 0;
   }

   .fundoHeader {
      height: 90px;
   }

   .fundoBaixo {
      display: none;
   }

   #topo .direita {
      display: none;
   }

   .celularesTopo {
      display: none;
   }

   #topo .esquerda {
      margin: auto;
      width: 100%;
      padding: 5%;
   }

   #topo {
      width: 100%;
      height: 50vh;
      align-items: center;
   }

   .mobile {
      background: none;
      display: block;
      border: none;
      transition: all ease-in-out .2s;
   }
   
   .mobile img {
      width: 50px;
      transition: all ease-in-out .2s;
   }

   .nav.ativo  {
      display: block;
      transition: all ease-in-out .2s;
   }

   .h1Topo {
      width: 100%;
      margin-left: 0px;
      margin-top: 20vh;
      font-size: clamp(2em, 2em + 1vw, 2.5em);
   }

   .btnGetApp {
      margin-left: 0px;
   }

   #funcionalidades {
      width: 100%;
      flex-direction: column-reverse;
      height: 65vh;
   }

   #funcionalidades .esquerda {
      width: 100%;
   }

   #funcionalidades .direita {
      width: 100%;
   }

   #funcionalidades .h1Func {
      margin-top: 0px;
      width: 100%;
      font-size: clamp(1.7em, 1.7em + 1vw, 2.3em);
      margin: auto;
      margin-bottom: 40vh;
   }

   #funcionalidades .esquerda .celularFunc {
      width: 60%;
      margin-left: 20%;
   }

   #icones {
      flex-direction: column;
      width: 100%;
   }

   #icones .elemento img {
      width: 25%;
   }

   #icones .elemento h1 {
      font-size: clamp(1.5em, 1.5em + 1vw, 1.9em);
   }

   #dev {
      width: 90%;
      height: 24vh;
   }

   #dev h1 {
      font-size: clamp(1.3em, 1.3em + 1vw, 2.2em);
   }

   #dev h2 {
      font-size: clamp(1.2em, 1.2em + 1vw, 2em);
   }

   #dev .icones a img {
      width: clamp(2em, 2em + 1vw, 4em);
   }

   #dev .icones img:first-child {
      margin: 0;
   }

   #dev .icones {
      margin: 20px auto;
      gap: 30px;
   }

   .mobile {
      background: none;
      border: none;
   }

   footer {
      display: none;
   }
}